[submodule "AI_Chess_1.0"]
	path = AI_Chess_1.0
	url = https://github.com/azkung/AI_Chess_1.0
[submodule "AI_Chess_1.1"]
	path = AI_Chess_1.1
	url = https://github.com/azkung/AI_Chess_1.1
[submodule "AI_Chess_2.0"]
	path = AI_Chess_2.0
	url = https://github.com/azkung/AI_Chess_2.0
[submodule "AI_Chess_4.0"]
	path = AI_Chess_4.0
	url = https://github.com/azkung/AI_Chess_4.0
[submodule "AI_Chess_5.1"]
	path = AI_Chess_5.1
	url = https://github.com/azkung/AI_Chess_5.1
